<% layout('layouts/boilerplate.ejs') %>

<body>
    <br><br>
    <div class="row">
    <div class="col-8 reviews offset-2">
        <form action="/listings/<%= listing._id %>/?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data" method="post">
            <div class="mb3">
                <label for="exampleFormControlInput1" class="form-label">Title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="listing[title]" value="<%= listing.title %>" required>
                <div class="invalid-feedback">
                    Please write a Title!
                  </div>
            </div>
            <br>
            <div class="mb3">
                <label for="exampleFormControlTextarea3" class="form-label">Description</label>
                <textarea id="exampleFormControlTextarea3" class="form-control" required name="listing[description]" rows="3" ><%= listing.description %></textarea>
                <div class="invalid-feedback">
                    Please write a Description!
                  </div>
            </div>
            <br>
            <div class="mb3">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="listing[category]" id="exampleRadios1" value="Rooms">
                <label class="form-check-label" for="exampleRadios1">
                  Rooms
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="listing[category]" id="exampleRadios2" value="Iconic Citys">
                <label class="form-check-label" for="exampleRadios2">
                  Iconic Citys
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="listing[category]" id="exampleRadios2" value="Castles">
                <label class="form-check-label" for="exampleRadios2">
                  Castles
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="listing[category]" id="exampleRadios2" value="Beach">
                <label class="form-check-label" for="exampleRadios2">
                  Beach
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="listing[category]" id="exampleRadios2" value="Boats">
                <label class="form-check-label" for="exampleRadios2">
                  Boats
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="listing[category]" id="exampleRadios2" value="Campervan">
                <label class="form-check-label" for="exampleRadios2">
                  Campervan
                </label>
              </div>
            </div>
            
            <br>
            <div>
                <p>preview :</p>
                <img src="<%= originalUrl %>" width="200px" alt="">
               
            </div><br>
            <div class="mb3">
                <label for="exampleFormControlInput2" class="form-label">Update Images</label>
                <input type="file" name="listing[image]" class="form-control" id="exampleFormControlInput2">
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb3">
                        <label for="exampleFormControlInput4" class="form-label">Price</label>
                        <input type="number" class="form-control" required id="exampleFormControlInput4" name="listing[price]" value="<%= listing.price %>">
                        <div class="invalid-feedback">
                            Please Enter a Price!
                          </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="mb3">
                        <label for="exampleFormControlInput6" class="form-label">Country</label>
                        <input type="text" class="form-control" required id="exampleFormControlInput6" name="listing[country]" value="<%= listing.country %>">
                        <div class="invalid-feedback">
                            Please Choose a Country!
                          </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="mb3">
                <label for="exampleFormControlInput5" class="form-label">Location</label>
                <input type="text" class="form-control" required id="exampleFormControlInput5" name="listing[location]" value="<%= listing.location %>">
                <div class="invalid-feedback">
                    Please Choose a Location!
                  </div>
            </div>
            
            <br>
            <button type="submit" class="btn btn-primary color">Update</button>
        </form>
    </div>
</div>
    <br><br>
</body>
