<% layout('./layouts/boilerplate') %>
<body>
    
    <div class="container">
        
        <div class="row">
            <div class="col-8 showPage offset-2">
                <h3 class="card-title mt-2 mb-2"><%= listing.title %> </h3>
                
                <img src="<%= listing.image.url %>" class="show-img" style="width: 100%; border-radius: 20px;" alt="...">
                <div class="card card-listing">
                    <div class="card-body">
                      <p><i><%= listing.owner.username %></i></p>
                      <p class="card-text "><%= listing.description %></p>
                      <p class="card-text "><small class="text-body-secondary">&#8377; <%= listing.price.toLocaleString("en-IN") %></small></p>
                      <p class="card-text "><b>Location</b>: <%= listing.location %>, <%= listing.country %></p>
                      
                    </div>
                    <% if (currentUser && currentUser._id.equals(listing.owner._id)) { %>
                       
                    <div class="card-body row">
                        <p class="col-2"><a href="/listings/<%= listing._id %>/edit" style="color: white;" class="btn btn-primary">Edit</a></p>
                        <form class="col-10 delBtn" action="/listings/<%= listing._id %>?_method=DELETE" method="post" >
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>
                  </div>
            </div>
        </div>
        <hr>
        <div class="row reviewSession">
            <div class="col-8 reviews offset-2">
                <% if (currentUser) { %>
                    
                <h4>Leave a Review:</h4>
                <form action="/listings/<%= listing._id %>/review" method="post" novalidate class="needs-validation">
                    <fieldset class="starability-slot form-group">
                        <legend>Rating</legend>
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                    <br>
                    <div class="form-group"> 
                        <label for="comment">Comment</label>
                        <textarea class="form-control" name="review[comment]" id="" cols="30" rows="5" required></textarea>
                        <div class="invalid-feedback">
                            Please write a some Comments for reviews!
                          </div>
                    </div>
                    <button class="btn btn-outline-dark mt-2">Submit</button>

                    <br><br>

                </form>
                <% } %>
                <% if(listing.reviews.length>0) { %>
                    
                <div class="row review">
                    <h4>Recent Reviews :</h4>
                    <hr>
                <% for (review of listing.reviews) { %>
                    
                    <div class="card reviews reviewBody col-3 m-2">
                        <div class="card-body ">
                            <div class="userReview">
                                <span><b>@<%= review.owner.username %></b></span>
                                <p class="starability-result rate card-text" data-rating="<%= review.rating %>"></p>
                            </div>
                            <div class="card-text">
                                <%= review.comment %>
                            </div>
                        </div>
                        <% if (currentUser && currentUser._id.equals(review.owner._id)) { %>
                        <form action="/listings/<%= listing._id %>/review/<%= review._id %>?_method=DELETE" method="post">
                            <button class="btn sm btn-dark" style="scale: .7;">Delete</button>
                        </form>
                        <% } %>
                    </div>
                    <% } %>
                </div>
                <% } %>
                
            </div>
        </div>
    </div>
        
</body>


    
    

